<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>My Weather Project</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/spots.css' %}">
    </head>
    <body>
        <h3>Where To?</h3>
		<h4>Enter a zipcode or city,state</h4>
		<form action="{% url 'wspot_edit' pk=ws.pk %}" method="POST">
		    {% csrf_token %}
		    {{infields.as_p}}
			<button type="submit">Submit</button>
		</form>
	<body>
<html>