<!DOCTYPE html>
{% load staticfiles %}
{% load widget_tweaks %}

<form action="" method="POST">
	{% csrf_token %}
	<!-- code from when edit was a whole page
	{{infields.as_p}}
	<button type="submit">Submit</button>    -->
	
  <div class="modal-header popup_style">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>    <h3 class="modal-title">Enter a Location</h3>
	<h5> A location can be a zip code, airport code, or city, state </h5>
  </div>

  <div class="modal-body popup_style">

    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>

    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% render_field field class="form-control" placeholder=field.label %}
        <div class="{% if field.errors %} invalid{% endif %}">
          {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="modal-footer popup_style">
    <button type="button" class="submit-btn btn btn-primary">Save</button>
  </div>

	
</form>
