<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>My Weather Project</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=Arapey" rel="stylesheet" type="text/css">
		<link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/spots.css' %}">
    </head>
    <body>
		<script src="https://code.highcharts.com/highcharts.src.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		
		<div>
			<p id="pagetitle"> Multi-City Weather  </p>
		</div>
		
		<div class="row">
		{% for wspot in spots %}
		
		<div style="width: 280px" class="col-md-4">


			<p class="city"> 
				{{wspot.observation.city }} 
			</p>
			
			<p class=petite> 
				<strong>At {{ wspot.observation.datetime }}</strong> 	
			</p>
			<a class="btn btn-link edit" href="{% url 'wspot_edit' pk=wspot.pk %}"><span class="glyphicon glyphicon-pencil"></span></a> 

			<div style="border: 1px solid lightblue">
				<div class=beside>
					<p id=currtemp> {{ wspot.observation.tempF }} </p>
					<div id=stacked>
						<p> <strong> {{wspot.observation.weatherShort}} </strong> </p>
						<img src={% static wspot.observation.icon %} width= 60 />
					</div>  
				</div>
				<p id=curwind> Current wind: <strong> {{wspot.observation.windSpeedMPH}} MPH </strong>  </p>
			</div>
			<div id=days>
					<div id=legend>
						<p> <small> HI <strong>|</strong> LO </p> </small>
						<p> <img src={% static "png/004-drop.png" %} width= 16 /> </p>
						<p> <img src={% static "png/002-wind.png" %} width= 16 /> </p>
					</div>
				{% for fc in wspot.forecasts %}
					<div id=oneday>
						<p> {{ fc.day_of_week }} </p>
						<p> {{ fc.temp_hi}}&deg; | {{ fc.temp_lo }}&deg; </p>
						<p> {{ fc.pop }}% </p>
						<p> {{ fc.wind_hi }} <small>mph</small> </p>
					</div>				
				{% endfor %}
			</div>  
			<!-- graph using highcharts -->
			<div id="container{{wspot.pk}}" style="height: 120px" data-url="{% url 'chart_data' pk=wspot.pk %}"></div>
			<script>
				$.ajax({
				url: $("#container{{wspot.pk}}").attr("data-url"),
				dataType: 'json',
				success: function (data) {
					Highcharts.chart("container{{wspot.pk}}", data);
				}
				});
			</script>
		</div>
		
		{% endfor %}
		</div>
		<!-- end of row -->
	
		<div id="form-modal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Where To?</h4>
					</div>
					<div id="form-modal-body" class="modal-body">
						<p>One fine body&hellip;</p>
						<p>Enter a zip code or city,state</p>
						<form action="{% url 'wspot_edit' pk=ws.pk %}" method="POST">
							{% csrf_token %}
							{{infields.as_p}}
							<button type="submit">Submit</button>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal --> 
	
        {% block js %}
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<!--
			From example 
			src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"
			src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"
		-->
        <script>
            var formAjaxSubmit = function(form, modal) {
                $(form).submit(function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: $(this).attr('method'),
                        url: $(this).attr('action'),
                        data: $(this).serialize(),
                        success: function (xhr, ajaxOptions, thrownError) {
                            if ( $(xhr).find('.has-error').length > 0 ) {
                                $(modal).find('.modal-body').html(xhr);
                                formAjaxSubmit(form, modal);
                            } else {
                                $(modal).modal('toggle');
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                        }
                    });
                });
            }
            $('#comment-button').click(function() {
                $('#form-modal-body').load('/test-form/', function () {
                    $('#form-modal').modal('toggle');
                    formAjaxSubmit('#form-modal-body form', '#form-modal');
                });
            });
        </script>
        {% endblock js %}	
		
	</body>
	
</html>