
#pagetitle {
    color: red;
	font-size: 30px;
	font-family: 'Montserrat';
	font-weight: bold;
	text-align: left;
}

.city {
	font-size: 28px;
	font-family: 'Arapey';
	font-weight: bold;
}

body {
    padding-left: 15px;
	text-align: center;
}

.petite {
    font-size: 10px;
	text-align: left;
	display: inline-block;
}

.edit {
	top: -20px;
	display: inline-block;
	margin-left: 41px;
}

.vertical {
	transform: rotate(-90deg);
	transform-origin: right bottom 0;
	float: left;
	display: inline-block;
	position: relative;
    top: 20px;
	
}

#stacked {
    display: inline-block;
    width: 123px;
    height: 120px;
}

#stacked p {
    font-style: italic;
}

.beside {
    display: inline-block;
    width: 250px;
	font-family: 'Arapey';
	color: #4000ff;

}

#currtemp {
    display: inline-block;
	font-family: 'Montserrat';
    font-size: 52px;
	font-weight: bold;
	width: 119px;
    position: relative;
    top: 15px;
}

#curwind {
	font-family: 'Arapey';
	font-style: italic;
    width: 250px;
/*    border: 1px solid black; */
}

#days {
	display: inline-block;
	width: 250px;
	font-size: 11px;
	margin-top: 10px;
}
#legend {
	display: inline-block;
	position: relative;
	width: 37px;
	font-family: 'Arial';
	padding-right:5px;
	border-right: 1px solid gray;
}
#oneday{
	display: inline-block;
	width: 60px;
	font-weight: bold;
	position: relative;
	font-family: 'Arial';
/*	border: 2px solid gray;
	padding: 2px;  */
}